@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr 0px;
}

header {
    display: grid;
    background-color: #323232;
}

header>p {
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}

main {
    display: grid;
    justify-self: center;
}

#cardWrapper {
    display: grid;
    grid-template-rows: repeat(2, 280);
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-self: center;
}

button {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-width: 0px;
    font-weight: 500;
    margin: 5px;
    height: 40px;
}

button:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.24), 0 5px 8px 0 rgba(0, 0, 0, 0.19);
}


/*CSS for card*/

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 8px;
    padding: 2px 16px;
    background-color: #fafafa;
    margin: 15px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 260px;
    width: 260px;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
}


/*Bank card CSS*/

#bankCard {
    grid-template-columns: 1;
    grid-template-rows: 1;
}

#loanText {
    grid-column: 1;
    grid-row: 3;
}

#loanAmount {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
}

#repayButton {
    background-color: #ee55cd;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
}

#bankButton {
    background-color: #4bf1a1;
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
}


/*Work card CSS*/

#workCard {
    grid-template-columns: 2;
    grid-template-rows: 1;
}

#workBButton {
    background-color: #edef4c;
    grid-row: 5;
    grid-column: 2;
}

#workWButton {
    background-color: #4d70f0;
    color: white;
    grid-row: 5;
    grid-column: 1;
}


/*Laptop card CSS*/

#laptopCard {
    grid-template-columns: 3;
    grid-template-rows: 1;
}

#laptopList {
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    border-color: #f2f2f2;
    height: 40px
}

#laptopFeatureTitle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    margin-bottom: 5px;
    align-self: start;
    justify-self: start;
}

#laptopText {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 2px;
    font-size: 12px;
    align-self: end;
}


/*organized texts on the grid*/

#bankText,
#workText {
    grid-column: 1;
    grid-row: 2;
}

#bankAmount,
#workAmount {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
}

#bankTitle,
#workTitle,
#laptopTitle {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 2px;
}


/*laptopInfo card CSS*/

#laptopInfoCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40% 60%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    width: auto;
    max-width: 900px;
}

#laptopImg {
    width: 175px;
    height: 175px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

#laptopInfoTitle {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: end;
    margin-bottom: 2px;
    align-self: center;
    font-weight: 400;
}

#laptopInfoText {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: start;
    margin-top: 2px;
}

#laptopInfoPrice {
    grid-column: 4;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin-bottom: 2px;
}

#buyLaptopButton {
    background-color: #4bc8f0;
    font-weight: bold;
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    width: 180px;
    margin: 15px;
}